<a href="https://colab.research.google.com/github/ethirald/Udemy---210-Excercise/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Sales

In [6]:
revenue = 10000
tax = 0.19
income = revenue * tax
income

1900.0

In [7]:
print(income)

1900.0

###Summary

In [14]:
import numpy as np
np.__version__

'1.25.2'

In [10]:
np.random.rand?

In [12]:
!pip install imageai

Collecting imageai
  Downloading imageai-3.0.3-py3-none-any.whl (69 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.8/69.8 kB 2.0 MB/s eta 0:00:00
Installing collected packages: imageai
Successfully installed imageai-3.0.3

In [13]:
import imageai

### Markdown

Example of *markdown*  
Example of **markdown**  
Example of __markdown__  
Example of `markdown`  
```
Example of markdown
```
> Python
> Code

An ordered list:
1. One
2. Two
3. Three

An unordered list:
* One
* Two
* Three

[Google](www.google.it)  
![Python](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmmngeGJFNocA_JXfnBGI-yKvz1WNGQ2P7hYqKDrpO2w&s)

$ y = x^2 $  
$ y = \frac{\frac{x^3}{3x^2}}{\frac{x^5-x^2}{ \sum_{i=1}{(3x+n)^n}}} $

$A = \begin{pmatrix}
a_{1, 1} & a_{1, 2} & a_{1, 3} \\
a_{2, 1} & a_{2, 2} & a_{2, 3} \\
a_{3, 1} & a_{3, 2} & a_{3, 3}
\end{pmatrix}$

$A = \begin{matrix}
a_{1, 1} & a_{1, 2} & a_{1, 3} \\
a_{2, 1} & a_{2, 2} & a_{2, 3} \\
a_{3, 1} & a_{3, 2} & a_{3, 3}
\end{matrix}$

Header1 | Header2 | Header3 |
---|---|---|
Value1 | Value2 | Value3 |
Value4 | Value5 | Value6 |

### Exercise

In [1]:
    import datetime


    d1 = datetime.date(2020, 7, 21)
    d2 = datetime.date(2020, 12, 31)
    diff = (d2 - d1).days
    print(f'Number of days: {diff}')

Number of days: 163

In [3]:
#Using the built-in datetime module, determine the exact time elapsed between the dates:
#Jul 20 2020 11:30:00
#2021-02-20 10:25:00
#Then print the result to the console

import datetime
diff = datetime.datetime(2021,2,20,10,25,0) - datetime.datetime(2020,7,20,11,30,0)
print(diff)

214 days, 22:55:00

In [5]:
'''
Using the built-in datetime module, the datetime class and the datetime.datetime.strftime() method format the following date:
    2021-04-20 11:30:00
To the following formats:
    2021-04-20
    20-04-2021
    04-2021
    April-2021
    20 April, 2021
    2021-04-20 11:30:00
    04/20/21 11:30:00
    20(Tue) April 2021
Then print the formatted dates to the console.
'''
from datetime import datetime
a = datetime(2021,4,20,11,30,00)
print(a.strftime('%Y-%m-%d'))
print(a.strftime('%d-%m-%Y'))
print(a.strftime('%m-%Y'))
print(a.strftime('%B-%Y'))
print(a.strftime('%d %B, %Y'))
print(a.strftime('%Y-%m-%d %H:%M:%S'))
print(a.strftime('%m/%d/%y %H:%M:%S'))
print(a.strftime('%d(%a) %B %Y'))

2021-04-20
20-04-2021
04-2021
April-2021
20 April, 2021
2021-04-20 11:30:00
04/20/21 11:30:00
20(Tue) April 2021

In [7]:
'''Using the built-in datetime module and the datetime.datetime.strptime() function, parse the following str objects:
    date_str_1 = '3 March 1995'
    date_str_2 = '3/9/1995'
    date_str_3 = '21-07-2021'
to datetime objects. Print the result to the console.'''
from datetime import datetime

date_str_1 = '3 March 1995'
date_str_2 = '3/9/1995'
date_str_3 = '21-07-2021'

dt1 = datetime.strptime(date_str_1, '%d %B %Y')
dt2 = datetime.strptime(date_str_2, '%d/%m/%Y')
dt3 = datetime.strptime(date_str_3, '%d-%m-%Y')

print(dt1)
print(dt2)
print(dt3)

1995-03-03 00:00:00
1995-09-03 00:00:00
2021-07-21 00:00:00

In [11]:
#Using the built-in datetime module, calculate the number of days until the end of the current year.

import datetime
print(f'Number of days until the end of the year: {abs(datetime.datetime(datetime.date.today().year+1,1,1)-datetime.datetime.now()).days}')

Number of days until the end of the year: 241

In [ ]:
#Using the built-in datetime module, calculate the exact time remaining until the end of the current year.

import datetime
print(f'Until the end of the year: {abs(datetime.datetime(datetime.date.today().year+1,1,1)-datetime.datetime.today())}')

In [13]:
'''Using the built-in datetime module, the date and timedelta classes from the given date 2020-01-01 00:00:00 get the date:
  shifted by 7 days
  shifted by 30 days
  shifted by 30 hours
  shifted by 15 minutes'''

import datetime
d1 = datetime.datetime(2020,1,1,0,0,0)

#print(d1)
print((d1+datetime.timedelta(7)).strftime('%Y-%m-%d %H:%M:%S'))
print((d1+datetime.timedelta(30)).strftime('%Y-%m-%d %H:%M:%S'))
print((d1+datetime.timedelta(hours=30)).strftime('%Y-%m-%d %H:%M:%S'))
print((d1+datetime.timedelta(minutes=15)).strftime('%Y-%m-%d %H:%M:%S'))

2020-01-08 00:00:00
2020-01-31 00:00:00
2020-01-02 06:00:00
2020-01-01 00:15:00

In [17]:
'''
Using the built-in datetime module, datetime and timedelta classes, create a list of dates and assign to variable dates.
Dates start from 2020-01-01 00:00:00, end on 2020-01-04 16:00:00 and differ by 8h. Then print each date to the console.
'''

import datetime
a = datetime.datetime(2020,1,1,0,0)
delta = datetime.timedelta(hours=8)
dates = [a + i * delta for i in range(12)]

for date in dates:
    print(date)

2020-01-01 00:00:00
2020-01-01 08:00:00
2020-01-01 16:00:00
2020-01-02 00:00:00
2020-01-02 08:00:00
2020-01-02 16:00:00
2020-01-03 00:00:00
2020-01-03 08:00:00
2020-01-03 16:00:00
2020-01-04 00:00:00
2020-01-04 08:00:00
2020-01-04 16:00:00

In [22]:
# Using the built-in datetime module calculate the future value of the investment (present value)
#of USD 1000 with an annual interest rate of 4% (rate) and daily compound capitalization of interest,
#assuming the duration of the investment from 2021-07-01 to 2021-12-31. For calculations, assume that the year has 365 days.

import datetime

rate = 0.04
pv = 1000
duration = datetime.date(2021,12,31)-datetime.date(2021,7,1)
#  Future value = Capital x (1 + daily rate )^days
future_value  = pv * (1 + rate/365) ** duration.days
print(f'Future value: $ {future_value:.2f}')

Future value: $ 1020.26